body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    text-align: center;
}

.pokemons {
    list-style: none;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
    gap: 20px;
    margin: 20px;
}

.pokemon {
    border-radius: 10px;
    padding: 10px;
    background-color: #fff;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.pokemon img {
    width: 100px;
    height: 100px;
}

.type {
    display: inline-block;
    margin: 2px;
    padding: 5px 10px;
    border-radius: 20px;
    background-color: #eee;
    font-size: 0.8em;
}

.card {
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
    padding: 20px;
    max-width: 400px;
    margin: 30px auto;
    text-align: center;
}

.card-top .poke-img {
    width: 150px;
    height: 150px;
}

.types {
    margin-top: 10px;
}

.tag {
    display: inline-block;
    margin: 5px;
    padding: 5px 15px;
    border-radius: 20px;
    font-size: 0.9em;
    color: #fff;
}

.tag.fire {background-color: #F08030;}
.tag.water {background-color: #6890F0;}
.tag.grass {background-color: #78C850;}
.tag.electric {background-color: #F8D030;}

/* Adicionar mais cores conforme os tipos */

.card-bottom ul {
    list-style: none;
    padding: 0;
    text-align: left;
}

.card-bottom li {
    background-color: #f2f2f2;
    margin: 5px 0;
    padding: 10px;
    border-radius: 10px;
}